<!-- IF $dhtmlx_scheduler_js_included == false -->
    {% INCLUDEJS 'dhtmlx/dhtmlxscheduler.js' %}
    {% INCLUDEJS 'dhtmlx/ext/dhtmlxscheduler_year_view.js' %}
    {% INCLUDEJS 'dhtmlx/ext/dhtmlxscheduler_minical.js' %}
    {% INCLUDEJS 'dhtmlx/ext/dhtmlxscheduler_serialize.js' %}
    <!-- DEFINE $dhtmlx_scheduler_js_included = true -->
<!-- ENDIF -->
<!-- IF $pnotify_js_included == false -->
    {% INCLUDEJS 'pnotify/pnotify.js' %}
    {% INCLUDEJS 'pnotify/PNotifyMobile.js' %}
    <!-- DEFINE $pnotify_js_included = true -->
<!-- ENDIF -->
{% INCLUDEJS 'js/minty_utils.js' %}
{% INCLUDEJS 'js/minty_auto_comp.js' %}