<!-- IF $dhtmlx_scheduler_css_included == false -->
    {% INCLUDECSS 'dhtmlx/dhtmlxscheduler.css' %}
    {% INCLUDECSS 'dhtmlx/dhtmlxscheduler_material.css' %}
    <!-- DEFINE $dhtmlx_scheduler_css_included = true -->
<!-- ENDIF -->
<!-- IF $pnotify_css_included == false -->
    {% INCLUDECSS 'pnotify/PNotify.css' %}
    {% INCLUDECSS 'pnotify/Material.css' %}
    {% INCLUDECSS 'pnotify/PNotifyMobile.css' %}
    <!-- DEFINE $pnotify_css_included = true -->
<!-- ENDIF -->
{% INCLUDECSS 'css/minty_auto_comp.css' %}
